.gsec {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  cursor: pointer;
  
}
.gsec_1 {
  width: 100%;
  background-color:rgb(66, 133, 244) !important;
}
.gsec_1:focus{
  outline: none !important;
}
.gsec_1 span{
  width: 100%;
  color: white !important;
  font-family: 'Montserrat' !important;
  font-weight: 600 !important;
}
.gsec_1 div{
  background-color: rgb(255, 255, 255) !important;
} 

