.login_cover {
  display: flex;
  min-height: 90%;
  flex-direction: row;
}
.login_section1 {
  width: 30%;
  min-height: 100vh;
}
.login_logo {
  padding: 0 10%;
  padding-top: 50px;
}
.login_logo img {
  width: 150px;
}
.login_section2 {
  background-image: linear-gradient(
      to top,
      rgba(40, 40, 41, 0.822),
      rgba(46, 49, 65, 0.822)
    ),
    url(../../Assets/Images/workerimage.jpg);
  background-size: cover;
  width: 70%;
  min-height: 100vh;
  padding: 6em 7em;
  box-sizing: border-box;
}
.login_heading {
  font-size: 1.7em;
  line-height: 2.8em;
  font-weight: 600;
  margin: 0 auto;
  margin-left: 10%;
  color: rgb(33, 49, 60);
}
.login_or {
  margin: 20px 0;
  margin-bottom: 16px;
  position: relative;
  text-align: center;
}
.login_or span {
  background-color: white;
  font-size: 0.9em;
  padding: 0 10px;
  color: rgb(93, 108, 116);
}
.login_or:before {
  display: inline-block;
  border-top: 1px solid rgb(184, 196, 194);
  content: "";
  margin: 0 auto;
  position: absolute;
  height: 0;
  width: 80%;
  inset: 50% 0 0;
  z-index: -1;
  transform: translateY(-50%);
}
.login_submit {
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.login_submit button {
  font-size: 1em;
  color: rgb(180, 179, 179);
  font-weight: 400;
  border: 1px solid rgb(184, 196, 194);
  border-radius: 3px;
  padding: 5px 20px;
}
.login_submit button:focus {
 outline: none;
}
.login_submit span {
  font-size: 0.9em;
  color: rgb(105, 105, 105);
  font-weight: 500;
 
}
.login_change {
  color: rgb(0, 124, 173) !important;
  cursor: pointer;
}
.tag_1 {
  font-size: 2rem;
  line-height: 1.2em;
  color: white;
  margin-bottom: 0.8em;
  font-weight: 600;
}
.tag_content_1 {
  font-size: 1.2rem;
  line-height: 1.1em;
  color: rgb(216, 216, 216);
  font-weight: 400;
  margin-bottom: 12em;
}
.join_now1 {
  font-size: 1.2rem;
  line-height: 1.1em;
  color: rgb(216, 216, 216);
  font-weight: 400;
  width: max-content;
}
