@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Aliron";
  font-weight: 400;
  src: local("Aliron"),
    url(./Assets/fonts/Aileron-Regular.otf) format("opentype");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Aliron; */
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
